.example {
    font-size: 16px;
    margin: 2% 0% -2% -2%;
    padding: 6px 0px 0px 14px;
    
    &:hover {
        color:#DFCFBE;
    }
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}